@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --light-blue: rgb(70, 127, 232);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "montserrat", serif;
  /* align-items: center; */
  background-color: rgb(249, 249, 249);
  /* width: 80%; */
}
main {
  /* width: 80%; */
}
.top-div {
  background-image: url("/images/hero.png");
  /* background-color: blue; */
  background-size: cover;
  height: 80vh;
  /* position: relative; */

  /* border:2px solid red; */
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  color: white;
}
.middle-nav {
  display: flex;
  justify-content: flex-start;
}
.middle-nav > ul > li {
  display: inline-block;
  padding: 10px;
}

.profile-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.profile-nav > p {
  padding: 5px;
}
.member {
  padding: 5px;
  background-color: rgb(70, 127, 232);
  border-radius: 20px;
}
hero {
  display: flex;
  /* justify-content: center ; */
  flex-direction: column;
  align-items: center;

  color: white;
  padding-top: 10rem;
}
hero > h1 {
  font-weight: 900;
}
hero > .hero-text {
  /* padding: 2rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.hero-btn {
  display: flex;
  /* border:2px solid blue; */
  gap: 2rem;
}
.quote {
  padding: 0.7rem;
  background-color: rgb(70, 127, 232);
  border-radius: 20px;
}
.learn {
  padding: 0.7rem;
  /* background-color:rgb(70, 127, 232) ; */
  border: 1px solid white;
  border-radius: 20px;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* position: absolute; */
  /* bottom: -15%; */
  /* background-color: yellow; */
  margin-top: -100px;
}

.card {
  background-color: white;
  padding: 30px;
  width: 20%;
}
.people-icon {
  color: var(--light-blue);
  font-size: 50px;
}

.blue-card {
  background-color: var(--light-blue);
  color: white;
}
.blue-card > .people-icon {
  font-size: 50px;
  color: white;
}
.first-div {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  margin-top: 5rem;
  /* border: 2px solid blue; */
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;
  padding: 10px;
  text-align: center;
}

.div-icons {
  font-size: 50px;
  color: var(--light-blue);
}

.industry {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 70vh;
}
.industry-top {
  text-align: center;
  padding: 30px;
  height: 40vh;
}
.industry-top > h1 {
  padding-bottom: 20px;
}
.industry-user {
  /* border: 2px solid rgb(246, 75, 149); */
  display: flex;
  justify-content: space-around;
  /* gap:1rem; */
  padding: 1rem;
  flex-direction: row;
}
.users {
  border: 0.1rem solid rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 18rem;
  background-color: white;
}
.users > p {
  text-align: center;
  padding: 1rem;
}
.user-img {
  width: 40%;
}

.sponsers {
  /* border: 1px solid; */
  /* padding-top: 1000vh; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
}
.logo {
  width: 6rem;
}

.subscribe {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: white;
  background: linear-gradient(
    to right,
    rgb(8, 8, 241) 30%,
    rgb(230, 13, 121) 70%
  );
}
.subscribe-section {
  display: flex;
  /* border-radius: 10rem; */
}

.submit {
  padding: 10px;
  background-color: var(--light-blue);
  border: 0px;
}
.email {
  padding: 10px;
  /* padding-left: 500px; */
}
.pricing {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-top {
  text-align: center;
  padding: 5rem;
}
.pricing-top > p {
  padding-top: 5rem;
  color: grey;
}

.pricing-tabs {
  display: flex;
  /* border: 1px solid blue; */
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  
}
.tabs {
  /* border: 1px solid blue; */
  text-align: center;
  padding:0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 35rem;
  border: 0.1rem solid var(--light-blue);
  border-radius: 0.5rem;
}
.tabs:hover{
  background-color: rgb(31, 31, 57);
  color: white;
  /* padding-top: 6rem; */
}

.price-tab {
  display: flex;
  align-content: center;
  /* border: 1px solid white; */
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  
}
.points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pricing-submit {
  padding: 0.7rem 5rem;
  background-color: var(--light-blue);
  border: 0.5px;
  border-radius: 0.5rem;
}
.branches {
  /* border: 2px solid black ; */
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 5rem;
  height: 80vh;
  background-color: rgb(57, 55, 71);
  /* border: 2px solid black; */
}
.branch-1 {
  text-align: start;
  /* border: 2px solid blue; */
  padding: 5rem;
}
.branch-image {
  /* border: 2px solid green; */
  padding: 5rem;
}
.branch-img {
  width: 35vw;
}

.appointment {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 70vw; */
  padding: 0vh 15vw;
  /* flex-wrap: wrap; */
  margin-top: -250px;
}
.appointment-image {
  flex-basis: 20%;
  float: left;
  /* border: 2px solid blue; */
}
.appointment-image > img {
  width: 18vw;
  height: 70vh;
}
.appointment-form {
  background-color: white;
  flex-basis: 80%;
  float: right;
  /* border: 2px solid green; */
  padding: 16px;
  height: 70vh;
  margin-top: -0.25rem;

  /* display: flex; */
}
/* @media screen and (max-width: 700px) {
  .note-div {
    margin-left: 4rem;
  }
} */

/* Add padding to containers */
form {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  height: 67vh;
}

/* Full-width input fields */
input,
select {
  width: 100%;
  padding: 15px;
  /* margin: 5px 0 22px 0; */
  display: inline-block;
  /* justify-content: space-around; */
  border: none;
  background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.consult {
  /* border: 1px solid; */
  padding: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dots {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid; */
}
.dots > h2,
p {
  padding: 1rem;
}
.contact1 {
  align-items: center;
  border-radius: 0.5rem;
  height: 6vh;
  display: flex;
  justify-content: center;
  padding: 0vh 6vw;
  background-color: var(--light-blue);
}
.contact-text {
  color: white;
}
.references {
  display: flex;
  justify-content: center;
  /* align-content: flex-start; */
  text-align: start;
  padding-top: 3rem;
}
th,
td {
  padding: 0.5rem 2rem;
  /* border-spacing: 10rem; */
}
footer {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-around;
  /* align-content: center; */
}
.footer-text > p {
  font-weight: 200;
}
.footer-icons {
  padding: 1rem;
  /* gap: 10rem; */
}
